.App {
  text-align: center;
}
.sidebar{
  background: linear-gradient(to right, #2c3e50, #3498db);
}
* { 
  margin : 0;
  padding: 0;
}
.decibel{
  font-size:x-large;
  margin-left: 0.4rem;
}
h4{
  color: white;
}
h3{
  color: black;
}
.sidebar {
  height: 100vh;
  width: 150px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f5f5f5;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 60px;
  font-family: 'Bruno Ace SC', cursive;
}
.sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.sidebar-item:hover {
  background-color: #e5e5e5;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Link{
  text-decoration: 'none';
  color: 'inherit';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
