h1{
    text-align: center;
    display: inline;
  }
  h1,h4,label,.head{
    font-family: 'Bruno Ace SC', cursive;
    color: white;
  }
  .bg{
    /* Set the width and height of your container */
    height:100vh;
    background-image: url("./images/bg-4.jpg");
    background-size:cover;
    /* background-repeat:no-repeat; */
    background-attachment: fixed;
    background-position: center;
  }